---
const { title, description, repoUrl, liveUrl, docuUrl, imageUrl } = Astro.props;
---

<div class="col-md-4 mb-4">
  <div class="card shadow-sm border-light rounded">
    <img src={imageUrl} class="card-img-top" alt={title} />
    <div class="card-body">
      <h5 class="card-title">{title}</h5>
      <p class="card-text">{description}</p>
      <div class="d-flex flex-wrap gap-2">
        <a href={repoUrl} class="btn btn-primary btn-sm" target="_blank" rel="noopener noreferrer">
          Ver Código
        </a>
        {liveUrl && (
          <a href={liveUrl} class="btn btn-success btn-sm" target="_blank" rel="noopener noreferrer">
            Ver Demo
          </a>
        )}
        {docuUrl && (
          <a href={docuUrl} class="btn btn-warning btn-sm" target="_blank" rel="noopener noreferrer">
            Documentación
          </a>
        )}
      </div>
    </div>
  </div>
</div>
